<h1>Welcome to the blogApp</h1>
<button><a href="/blogs/new">Add post</a></button>
<% blogs.forEach((blog)=>{ %>
    <div style="padding-top: 10px;">
        <p style="display:inline">
            Author - <%- blog.author%>
                <a href="/blogs/<%= blog._id %>">Show more</a>
        </p>
    </div>
    <%})%>