<h1>Fill author and title</h1>

<form action="/blogs" method="post">
    <input type="text" name="blog[author]" id="author" placeholder="author name">
    <input type="text" name="blog[title]" id="title" placeholder="title name">
    <button type="submit">Submit</button>
</form>