<form action="/home" method="post">
    <input type="text" name="author" id="author" placeholder="author name">
    <input type="text" name="title" id="title" placeholder="title name">
    <button type="submit">Submit</button>
</form>